
#main{

	padding-left: 10px;
	font-family: sans-serif;
	font-size: 18px;

}
#projectname{
	margin-left: 5px;
	font-size: 24px;
}
p{
	text-align: justify;
}
h2 h3 h4{
	font-family: arial;
	color:#00203FFF;


}
.introduction{
	font-size: 24px;
	margin-bottom: 1px;
	padding-bottom: 1px;

}

@media only screen and (max-width: 600px) {
	  #card2 {
		margin-top: 50px;
	}

}
